<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flight Reservation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>


</head>
<body>

<div class="display-4" style="margin-bottom: 0;">

  <h2>Flight Reservation Website</h2>
  
</div>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'searching-page' %}">Search Flight</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">

                  <li class="nav-item">
                    <a class="nav-link" href="#">Check Booking</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Flight list</a>
                  </li>

                  {% if user.is_authenticated and user.profile.usertype == 'member' %}

                  <li class="nav-item">
                    <a class="nav-link" href="#">Your Booking</a>
                  </li>

                  {% endif %}


                  {% if user.is_authenticated and user.profile.usertype == 'admin' %} <!--จะshow when you login-->
                  <li class="nav-item">
                      <a class="nav-link" href="#">Update Flight</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="#">Confirm Flight</a>
                  </li>

                  {% endif %}
                </ul>

                          {% if user.is_authenticated %}
                            
                            <p style="color: white; margin-top: 10px">Hello,&nbsp&nbsp {{ user.first_name }}
                            {{ user.last_name }} &nbsp&nbsp </p>
                            <a class="btn btn-light" href="{% url 'logout' %}">Logout</a>
                          {% else %}
                            <a class="btn btn-dark" href="{% url 'register-page' %}">Register</a>&nbsp&nbsp&nbsp 
                            <a class="btn btn-dark" href="{% url 'login' %}">Login</a>

                          {% endif %}

  </div>  
    
</nav>
  
<div class="container" style="margin-top: 30px;">
  {% block article %}
  {% endblock article %}
</div>


</body>
</html>
